@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

body {
  font-family: "Outfit", sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

.jodit-workplace {
  height: 270px !important;
}

.jodit-status-bar {
  display: none !important;
}

.jodit-toolbar-button__button {
  min-width: 34px !important;
}
