@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

body {
  font-family: "Outfit", sans-serif;
}

.jodit-workplace {
  height: 200px !important;
}

.jodit-status-bar {
  display: none !important;
}

.jodit-toolbar-button__button {
  min-width: 34px !important;
}
