@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr {
  display: block;
}

nav a.active p {
  display: block;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

nav a p {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

nav a.active {
  background-color: rgba(0, 0, 0, 0.09);
  padding: 4px 18px;
  border-radius: 44px;
  transition: background-color 0.2s ease-out, padding 0.2s ease-out;
}

nav a:hover p {
  opacity: 1;
  transform: translateY(0);
}

nav a img {
  transition: transform 0.3s ease;
}

nav a.active img {
  transform: scale(1.02);
}
