@import "./css-config/mixins.scss";

// SideBar
.side-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 4rem;
  overflow-y: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #111c43 !important;
  z-index: 1;
  display: flex;
  flex-direction: column;

  .logo {
    padding: 10px;
    color: #f8f9fa;
    margin: 10px;
  }

  .ant-menu {
    margin-top: 5px;
    flex-grow: 1;
    background-color: #111c43 !important;
    border-right: 1px solid #ffffff1a;

    .ant-menu-item,
    .ant-menu-submenu-title {
      padding-left: 16px !important;
      color: #a3aed1;

      &:hover {
        color: #fff !important;
      }
    }

    .ant-menu-inline {
      padding-left: 16px;
    }

    .ant-menu-item-selected {
      color: #fff;
      border-radius: 6px !important;
      background-color: #ffffff0d !important;

      &:hover {
        color: #fff !important;
      }
    }
  }

  .logout-button {
    padding: 12px 20px;
    display: flex;
    align-items: center;
    color: #fff;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s;
    font-size: 14px;

    &:hover {
      opacity: 1;
    }
  }
}

// Header
.header-top-strip {
  margin-left: 0px;
  padding: 0 10px;
  height: 55px;
  color: black;
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  @include lg {
    margin-left: 60px;
    padding: 0 20px;
  }

  .user-details {
    h4 {
      font-size: 20px;
      color: #353535;
    }
  }

  .shop,
  .full-screen,
  .notifications {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: #f3f3f3;
    border-radius: 50%;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #e0e0e0;
      cursor: pointer;
    }
  }

  .avatar {
    img {
      border: 1px solid #007bff;
      padding: 2px;
      width: 35px;
      height: 35px;
      cursor: pointer;
      border-radius: 50%;
      margin-left: 12px;

      @include lg {
        width: 42px;
        height: 42px;
      }
      &:hover {
        opacity: 0.9;
      }
    }
  }
}
// Header End

// Login Page
.auth-wrapper {
  min-height: 100vh !important;
  @include lg {
    min-height: 100vh !important;
    margin-top: -10px;
  }

  .auth-card {
    max-width: 100%;
    background: transparent;
    padding: 0px;
    box-shadow: none;
    border: 0;
    border-radius: 8px;
    @include md {
      background: #fff;
      padding: 20px;
      max-width: 40rem;
      border: 1px solid #dadce0;
      box-shadow: 0 0 10px #0000001a;
    }
    @include lg {
      max-width: 29rem;
    }

    .auth-title {
      font-size: 30px;
      color: var(--secondary-color);
    }
    .sub-heading {
      font-size: 10px;
      color: var(--secondary-color);
      @include md {
        font-size: 12px;
      }
    }

    form {
      input {
        height: 55px;
        font-size: 14px;
        color: #000;
        @include md {
          height: 60px;
          font-size: 20px;
        }
        @include lg {
          font-size: 17px;
        }
      }

      .toggle-password {
        cursor: pointer;
        top: 20px;
        right: 20px;
        font-size: 20px;
      }

      label {
        font-size: 14px;
        @include lg {
          font-size: 16px;
        }
      }

      .error-message {
        font-size: 13px;
        margin-bottom: 5px;
        @include lg {
          font-size: 15px;
          margin-bottom: 3px;
          font-weight: 500;
        }
      }

      .btn {
        border: none;
        outline: none;
        .button {
          padding: 10px 30px;
        }
      }
    }
  }
}
// Login Page End
