@import "./css-config/mixins.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #000;
}

// Buttons
.button {
  background-color: #111c43;
  color: #fff;
  font-size: 0.875rem;
  padding: 10px 26px;
  border-radius: 1.5625rem;
  transition: background 0.2s ease, color 0.2s ease;
  font-weight: 500;

  &:hover {
    background: #1a265a;
    color: #fff;
  }
}
// Buttons

.column-fix {
  text-transform: capitalize;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}

.app-container {
  padding-left: 70px !important;
  @include lg {
    padding-left: 80px !important;
  }
}

.page-title {
  h3 {
    font-size: 20px;
    @include lg {
      font-size: 24px;
    }
  }
  p {
    font-size: 12px;
    @include lg {
      font-size: 14px;
    }
  }
}

.ant-table-cell {
  font-size: 12px !important;
  @include lg {
    font-size: 14px !important;
  }
}
